<% if flash[:errors] %>
  <br><div class="errors">
    <%= flash[:errors].to_s %>
  </div><br>
<% end %>

<h3>Submit</h3>

<%= form_for @post do |f| %>
  <%= f.label 'title:(required)' %><br>
  <%= f.text_field :title %><br><br>
  <%= f.label 'url    :' %><br>
  <%= f.text_field :url %><br><br>
  <strong> or </strong><br><br>
  <%= f.label 'text :' %><br>
  <%=f.text_area :body, :cols => 70, :rows => 12%><br><br>
  <%=f.submit "submit"%>
<%end%>

<p>Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.</p>
