<!DOCTYPE html>
<html>
<head>
  <title>HackerNewsClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <%= link_to image_tag("https://news.ycombinator.com/y18.gif"), "https://github.com/gechro/HackerNewsClone_onRails" %>
      <strong><%= link_to 'Hacker News Clone', root_path%></strong>
      <%= link_to "new", newest_posts_path %> |
      <%= link_to "comments", newest_comments_path %> |
      <%= link_to "submit", new_post_path %>
      <nav id="user_nav">
        <% if @logged_in %>
          <%= link_to "#{@current_user.username} (#{@current_user.karma})", user_path(@current_user)%> |
          <%= link_to'logout', logout_path, method: :delete %>
        <% else %>
          <%= link_to 'login', login_path%>
        <%end%>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <%= form_for :session do |f| %>
        <%= f.label "Search:" %>
        <%= f.text_field :title %>
      <% end %>
    </footer>

    </div>
</body>
</html>
